mixin semana
    each dia in dias
        span.dia-semana #{dia[0]}

mixin calendario(mes)
    -var i=0
    while i < meses[mes-1][2]
        .dia-vacio #{i++}

    -var i=1
    while i <= meses[mes-1][1]
        a(href="#"+meses[mes-1][0]+"_"+i)
            .dia #{i++}
        
mixin portada(mes, num)
    section(class="portada "+mes id=mes)
        .portada-container
            a(href="#meses")
                h1 #{mes}
            .mes_calendar
                +semana
                +calendario(num)

mixin lista(variable)
    .notas
        each item in variable
            .nota
                if item[1] == 1
                    .check
                else 
                    .check_no
                p   #{item[0]}

mixin goals(goals_mes)
    .goals
        h2.goals_titulo Goals
        .goals_1
            h3 Estudio
            p #{goals_mes[0]}
        .goals_2
            h3 Emocional
            p #{goals_mes[1]}
        .goals_3
            h3 Economico
            p #{goals_mes[2]}

mixin listas(mes,dia,mesDia)
    .listas
        h3(id=mes[dia-1][0]) #{mesDia}
        h4.body BODY
        +lista(mes[dia-1][1])
        h4.mind MIND
        +lista(mes[dia-1][2])
        h4.soul SOUL
        +lista(mes[dia-1][3])
        h4.rutine RUTINE
        +lista(mes[dia-1][4])

mixin notas(notas_mes)
    each nota in notas_mes
        section.notas_mes  NOTAS
            .encabezado
                h3.titulo_nota #{nota[0]}